{% extends 'app/base_admin.html' %}
{% load static %}

{% block titel %} Add Brand {% endblock %}

{% block body %}

<div class="widget pad50-65">
      <div class="widget-title2">
        <h4>Add Brand section page</h4>
        <span>You may add your brand section form here</span>
      </div>
      <form class="form-wrp" method="POST" enctype="multipart/form-data">
        {% csrf_token %}
        <div class="row mrg20">
          <div class="col-md-12 col-sm-6 col-lg-12">
            <p>Brand Title</p>
            {{form.title}}
          </div>
          <div class="col-md-6 col-sm-12 col-lg-6">
            <div class="file-upload-box">
              <strong>Add Photo:</strong>
              <div class="file-box">
                <label class="fileContainer">
                  <span class="blue-bg brd-rd5">Browse</span>
                  {{ form.brand_image }}
                </label>
              </div>
            </div>
          </div>
          <div class="col-md-12 col-sm-12 col-lg-12">
            <button class="green-bg brd-rd5" type="submit">
              <i class="fa fa-paper-plane"></i> Save</button>
          </div>
        </div>
      </form>
    </div>


{% if messages %}
<div class="messages text-right">
    {% for message in messages %}
    <div{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</div>
    {% endfor %}
</div>
{% endif %}

{% endblock %}
