{% extends 'app/base_admin.html' %}
{% load static %}

{% block titel %} ARIS || Dashboard {% endblock %}
{% block body %}
    <!-- Options Panel -->
    <div class="pg-tp">
        <i class="ion-cube"></i>
        <div class="pr-tp-inr">
            <h4>Welcome to
                <strong>ARIS</strong>
                <span></span></h4>
            <span>The Accociation Of Removeing Ignorance From Society</span>
        </div>
    </div>
    <!-- Page Top -->

    <div class="panel-content">
        <div class="filter-items">
            <div class="row grid-wrap mrg20">
                <div class="col-md-4 grid-item col-sm-6 col-lg-3">
                    <div class="stat-box widget bg-clr1">
                        <i class="ion-android-contacts"></i>
                        <div class="stat-box-innr">
                            <span>
                                <i class="counter">{{ total_users }}</i>
                            </span>
                            <h5>Total User</h5>
                        </div>
                        <span>
                            <i class="ion-ios-stopwatch"></i> Updated: 05:14pm</span>
                    </div>
                </div>
                <div class="col-md-4 grid-item col-sm-6 col-lg-3">
                    <div class="stat-box widget bg-clr2">
                        <i class="ion-android-person"></i>
                        <div class="stat-box-innr">
                            <span>
                                <i class="counter">975</i>k+</span>
                            <h5>Agent Users</h5>
                        </div>
                        <span>
                            <i class="ion-ios-stopwatch"></i> Updated: 05:14pm</span>
                    </div>
                </div>
                <div class="col-md-4 grid-item col-sm-6 col-lg-3">
                    <div class="stat-box widget bg-clr3">
                        <i class="ion-android-sad"></i>
                        <div class="stat-box-innr">
                            <span>
                                <i class="counter">{{ count_of_dononer }}</i>
                            </span>
                            <h5>Total blood donor</h5>
                        </div>
                        <span>
                            <i class="ion-ios-stopwatch"></i> Updated: 05:14pm</span>
                    </div>
                </div>
                <div class="col-md-4 grid-item col-sm-6 col-lg-3">
                    <div class="stat-box widget bg-clr4">
                        <i class="ion-android-cart"></i>
                        <div class="stat-box-innr">
                            <span>
                                <i class="counter">{{product_count}}</i>
                            </span>
                            <h5>Total Products</h5>
                        </div>
                        <span>
                            <i class="ion-ios-stopwatch"></i> Updated: 05:14pm</span>
                    </div>
                </div>
                <div class="col-md-6 grid-item col-sm-12 col-lg-6">
                    <div class="widget sales-summ pad50-40">
                        <h4 class="widget-title">Register user summery</h4>
                        <div class="sales-charts">
                            <div class="tab-content">
                                <div class="tab-pane fade show active" id="today">
                                    <div id="chrt2" style="height: 270px;"></div>
                                </div>
                                <div class="tab-pane fade" id="week">
                                    <div id="chrt3" style="height: 270px;"></div>
                                </div>
                                <div class="tab-pane fade" id="month">
                                    <div id="chrt4" style="height: 270px;"></div>
                                </div>
                            </div>
                        </div>
                        <div class="sales-stat">
                            <div class="sales-stat-itm">
                                <span style="color: #13aaf9;">
                                    <i class="counter">760</i>
                                </span>
                                <i>Total Sales</i>
                            </div>
                            <div class="sales-stat-itm">
                                <span style="color: #968cec;">$
                                    <i class="counter">4,219</i>
                                </span>
                                <i>Revenus</i>
                            </div>
                            <div class="sales-stat-itm">
                                <span style="color: #968cec;">$
                                    <i class="counter">1,247</i>
                                </span>
                                <i>Expenses</i>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-6 grid-item col-sm-12 col-lg-6">
                    <div class="widget recently-activ-proj pad50-40">
                        <h4 class="widget-title">Product short list</h4>
                        <div class="table-wrap">
                            <table class="table style1">
                                <thead>
                                    <tr>
                                        <th>#</th>
                                        <th>Product</th>
                                        <th>Price</th>
                                        <th>Trend</th>
                                    </tr>
                                </thead>
                                <tbody>
                                  {% if latest_project %}
                                  {% for project in latest_project %}
                                    <tr>
                                        <td>
                                            <span class="blue-bg indx">{{ project.id }}</span>
                                        </td>
                                        <td>
                                            <div class="prj-tl">
                                                <h4>{{ project.name |truncatewords:2 }}</h4>
                                                <span>
                                                    <i class="ion-ios-stopwatch"></i> Created: {{ project.update_at }}</span>
                                            </div>
                                        </td>
                                        <td>
                                            <span class="prcnt">{{ project.price }}</span>
                                        </td>
                                        <td>
                                            <i class="green-clr ion-arrow-graph-up-right"></i>
                                        </td>
                                    </tr>
                                    {% endfor %}
                                    {% endif %}
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
                <div class="col-md-12 grid-item col-sm-12 col-lg-12">
                    <div class="widget proj-order pad50-40">
                        <h4 class="widget-title">List of blood donor</h4>
                        <div class="table-wrap">
                            <table class="table table-bordered style2">
                                <thead>
                                    <tr>
                                        <th>#</th>
                                        <th>Date</th>
                                        <th>Name</th>
                                        <th>Blood</th>
                                        <th>Phone No</th>
                                        <th>Address</th>
                                    </tr>
                                </thead>
                                <tbody>
                                  {% if list_of_dononer %}
                                  {% for donoet in list_of_dononer %}
                                    <tr>
                                        <td>
                                            <span class="blue-bg indx">{{ donoet.id }}</span>
                                        </td>
                                        <td>
                                            <span class="date">{{ donoet.create_at }}</span>
                                        </td>
                                        <td>
                                            <h4 class="name">{{ donoet.dononer_name }}</h4>
                                        </td>
                                        <td>
                                            <h4 class="name">{{ donoet.bolood_type }}</h4>
                                        </td>
                                        <td>
                                            <span class="ph#">0{{ donoet.donoer_contact }}</span>
                                        </td>
                                        <td>
                                            <span class="addr">{{ donoet.dononer_address }}</span>
                                        </td>
                                    </tr>
                                    {% endfor %}
                                    {% endif %}
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
                <div class="col-md-6 grid-item col-sm-12 col-lg-6">
                    <div class="widget to-do-lst pad50-40">
                        <h4 class="widget-title">To Do list</h4>
                        <div class="slimScrollDiv" style="position: relative; overflow: hidden; width: auto; height: 375px;"><div class="to-do-wrp" style="overflow: hidden; width: auto; height: 375px;">
                            <div class="to-do-tp">
                              {% if perms.user %}
                                <div class="add-tsk" style="display: block;">
                                    <form method="POST" class="brd-rd5">
                                       {% csrf_token %}
                                       <span>Enter Your Todo List</span>
                                        {{ form.add_list }}
                                        <button class="blue-bg" type="submit">
                                            <i class="ion-forward"></i>
                                        </button>
                                    </form>
                                </div>
                              {% endif %}
                            </div>
                            <ul class="td-lst">
                              {% if show_todoList %}
                              {% for todo in show_todoList %}
                              <li>
                                <h5>{{ todo.add_list }}</h5>
                                <span>{{ todo.create_at }}</span>
                                {% if perms.user %}<a href="{% url 'deleteTodoList' todo.id %}" title="Delete"><i class="ion-android-delete"></i></a> {% endif %}
                              </li>
                              {% endfor %}
                              {% endif %}
                            </ul>
                        </div><div class="slimScrollBar" style="background: rgb(0, 0, 0); width: 5px; position: absolute; top: 0px; opacity: 0.4; display: none; border-radius: 7px; z-index: 99; right: 1px; height: 203.804px;"></div><div class="slimScrollRail" style="width: 5px; height: 100%; position: absolute; top: 0px; display: none; border-radius: 7px; background: rgb(51, 51, 51); opacity: 0.2; z-index: 90; right: 1px;"></div></div>
                    </div>
                </div>
                <div class="col-md-6 grid-item col-sm-12 col-lg-6">
                    <div class="widget pad50-40">
                        <h4 class="widget-title">New List of users</h4>
                        {% if profile_list %}
                        {% for profile in profile_list %}
                        <div class="act-pst-lst">
                            <div class="act-pst">
                                <img class="brd-rd50" src="/media/{{ profile.profile_photo }}" alt="" />
                                <div class="act-pst-inf">
                                    <div class="act-pst-inr">
                                        <h5>{{ profile.name }}  </h5>
                                    </div>
                                    <span class="spnd-tm">{{ profile.create_at }}</span>
                                </div>
                            </div>
                        </div>
                    {% endfor %}
                    {% endif %}
                    </div>
                </div>
            </div>
            <!-- Filter Items -->
        </div>
    </div>
{% endblock %}
