{% extends 'app/base.html' %}
{% load static %}

<!-- title -->
{% block title %} ARIS || Homepage {% endblock %}

<!-- Content -->
{% block body %}
  <!-- Start animation-version -->
  <section class="animation-version" id="home">
    <img src="{% static 'assets/img/animation-bg-2.jpg' %}" alt="" class="animation-bg">
    <div class="animation-overlay"></div>
    <div class="stray-wave"></div>
    <div class="stray-wave stray-wave-2"></div>
      <div class="slider-text">
        <h1>The Accociation Of Removeing Ignorance From Society</h1>
        <h2>10 years of experience helping businesses to find comprehensive solutions.</h2>
        <div class="but-group">
					<a href="#bload" class="tm-btn tm-btn-whaite"><span>Bload Donoer</span></a>
          <a href="#" class="tm-btn tm-btn-black"><span>Register</span></a>
          <a href="#contact" class="tm-btn"><span>Send Message</span></a>
        </div>
      </div>
  </section>
	<!-- End animation-version -->

  <!-- Start About Us Section -->
  <section class="about-us section" id="about">
    <div class="container">
      {% if aboutus_obj %}
      {% for about in aboutus_obj %}
      <div class="section-head text-center">
        <h2>{{about.section_title}}</h2>
        <div class="section-divider">
          <div class="left wow fadeInLeft" data-wow-duration="1s" data-wow-delay="0.2s"></div>
          <span></span>
          <div class="right wow fadeInRight" data-wow-duration="1s" data-wow-delay="0.2s"></div>
        </div>
        <p>{{about.section_desc}}</p>
      </div>
      <div class="row">
          <div class="col-lg-8">
              <div class="about-company">
                  <h3>{{about.aboutCompanyTitle}}</h3>
                  <p>{{about.about_text}}</p>
              </div>
          </div><!-- .col -->
          <div class="col-lg-4">
              <!-- For Vimeo Video -->
              <div class="about-video js-video-button" data-video-id='63636954' data-channel="vimeo">
                  <img src="/media/{{about.about_image1}}" alt="">
                  <i class="video-icon icofont icofont-play-alt-3"></i>
              </div>
              <div class="about-slider owl-carousel">
                <img src="/media/{{about.about_image2}}" alt="">
              </div>
          </div><!-- .col -->
      </div>
      {% endfor %}
      {% endif %}
    </div>
  </section>
  <!-- End About Us Section -->

  <div class="height-100"></div>

  <!-- Start Company Groth Section -->
  <section class="company-groth section overlay-with-img gray-bg">
    <img src="{% static 'assets/img/fun-fact.jpg' %}" alt="" class="bg-img">
    <div class="company-groth">
      <div class="container">
        <div class="row">
          <div class="col-md-6">
            <div class="fun-fact">
              <div class="single-fun-fact">
                <p class="counter">1200</p>
                <i class="icofont icofont-tick-boxed"></i>
                <h2>Projects Complete</h2>
              </div><!-- .single-fun-fact -->
              <div class="single-fun-fact">
                <p class="counter">1150</p>
                <i class="icofont icofont-emo-simple-smile"></i>
                <h2>Happy Client</h2>
              </div><!-- .single-fun-fact -->
              <div class="single-fun-fact">
                <p class="counter">1000</p>
                <i class="icofont icofont-award"></i>
                <h2>Awards</h2>
              </div><!-- .single-fun-fact -->
              <div class="single-fun-fact">
                <p class="counter">2000</p>
                <i class="icofont icofont-envelope"></i>
                <h2>Mail Conversation</h2>
              </div><!-- .single-fun-fact -->
            </div>
          </div><!-- .col -->
          <div class="col-md-6">
            <div class="company-groth-graph-wrap">
              <div class="company-groth-graph">
                <div class="h-graph-bar1 graph-bar"></div>
                <div class="h-graph-bar2 graph-bar"></div>
                <div class="h-graph-bar3 graph-bar"></div>
                <div class="h-graph-bar4 graph-bar"></div>
                <div class="v-graph-bar1 graph-bar"></div>
                <div class="v-graph-bar2 graph-bar"></div>
                <div class="v-graph-bar3 graph-bar"></div>
                <div class="v-graph-bar4 graph-bar"></div>
                <div class="v-graph-bar5 graph-bar"></div>
                <div class="v-graph-bar6 graph-bar"></div>
                <div class="yearly-groth">
                  <div class="single-graph-wrap">
                    <div class="single-graph">
                      <div class="groth-bar wow fadeInUp" data-wow-duration="2s" data-wow-delay="0.1s" style="height: 40%">
                        <div class="p-bar-percentage"><span>40%</span></div>
                      </div>
                    </div>
                  </div>
                  <h3 class="p-bar-year">2014</h3>
                </div><!-- .yearly-groth -->
                <div class="yearly-groth">
                  <div class="single-graph-wrap">
                    <div class="single-graph">
                      <div class="groth-bar wow fadeInUp" data-wow-duration="2s" data-wow-delay="0.1s" style="height: 60%">
                        <div class="p-bar-percentage"><span>60%</span></div>
                      </div>
                    </div>
                  </div>
                  <h3 class="p-bar-year">2015</h3>
                </div><!-- .yearly-groth -->
                <div class="yearly-groth">
                  <div class="single-graph-wrap">
                    <div class="single-graph">
                      <div class="groth-bar wow fadeInUp" data-wow-duration="2s" data-wow-delay="0.1s" style="height: 70%">
                        <div class="p-bar-percentage"><span>70%</span></div>
                      </div>
                    </div>
                  </div>
                  <h3 class="p-bar-year">2016</h3>
                </div><!-- .yearly-groth -->
                <div class="yearly-groth">
                  <div class="single-graph-wrap">
                    <div class="single-graph">
                      <div class="groth-bar wow fadeInUp" data-wow-duration="2s" data-wow-delay="0.1s" style="height: 80%">
                        <div class="p-bar-percentage"><span>80%</span></div>
                      </div>
                    </div>
                  </div>
                  <h3 class="p-bar-year">2017</h3>
                </div><!-- .yearly-groth -->
                <div class="yearly-groth">
                  <div class="single-graph-wrap">
                    <div class="single-graph">
                      <div class="groth-bar wow fadeInUp" data-wow-duration="2s" data-wow-delay="0.1s" style="height: 95%">
                        <div class="p-bar-percentage"><span>95%</span></div>
                      </div>
                    </div>
                  </div>
                  <h3 class="p-bar-year">2018</h3>
                </div><!-- .yearly-groth -->
              </div><!-- .company-groth-graph -->
              <div class="company-groth-text">Business Growth</div>
            </div><!-- .company-groth-graph-wrap -->
          </div><!-- .col -->
        </div>
      </div>
    </div>
  </section>
  <!-- End Company Groth Section -->

  <!-- Start Service Section -->
  <section class="service-section section" id="service">
    <div class="container">
      <div class="section-head text-center">
        <h2>SERVICE WE PROVIDE</h2>
        <div class="section-divider">
          <div class="left wow fadeInLeft" data-wow-duration="1s" data-wow-delay="0.2s"></div>
          <span></span>
          <div class="right wow fadeInRight" data-wow-duration="1s" data-wow-delay="0.2s"></div>
        </div>
        <p>Lorem ipsum dolor sit amet, in quodsi vulputate pro. Ius illum vocent mediocritatem</p>
      </div>
      <div class="services">
        <ul class="nav nav-tabs active" role="tablist">
          {% if service_sec_obj %}
          {% for service in service_sec_obj %}
          <li class="nav-item">
            <a class="nav-link {{service.tab_second_id}}" data-toggle="tab" href="#{{service.tab_first_id}}">
              <i class="{{service.service_icon}}"></i><span>{{service.service_title}}</span>
              <div class="active-bar"></div>
            </a>
          </li>
          {% endfor %}
          {% endif %}
        </ul><!-- .nav-tabs -->
        <!-- Tab panes -->
        <div class="tab-content">
          {% if service_sec_obj %}
          {% for services in service_sec_obj %}
          <div id="{{services.tab_first_id}}" class="container tab-pane fade">
            <div class="row">
              <div class="col-lg-5">
                <div class="service-text">
                  <h3>{{services.service_heading}}</h3>
                  <p>{{services.service_text}}</p>
                </div>
              </div><!-- .col -->
              <div class="col-lg-7">
                <div class="service-img"><img src="/media/{{services.service_image}}" alt=""></div>
              </div><!-- .col -->
            </div><!-- .row -->
          </div><!-- .tab-pane -->
          {% endfor %}
          {% endif %}
        </div>
      </div>
    </div>
  </section>
  <!-- End Service Section -->

  <div class="height-100"></div>

  <!-- Start Call To Action -->
  <section class="cta section overlay-with-img">
    <img src="{% static 'assets/img/call-to-action-bg.jpg' %}" alt="" class="bg-img">
    <div class="fun-overlay"></div>
    <div class="container">
      <div class="cta-text">
        <div class="cta-btn">
          <a href="#price" class="tm-btn"><span>Get It Now</span></a>
          <div class="cta-bar"></div>
        </div>
        <h2>
          <span>
            <span class="wow fadeInLeft" data-wow-duration="2s" data-wow-delay="0.1s">START BUILDING YOUR NEXT PROJECT WITH US</span>
          </span>
        </h2>
      </div>
    </div>
  </section>
  <!-- End Call To Action -->

  <!-- Start Project Section -->
  <section class="project section" id="portfolio">
    <div class="section-head text-center">
        <h2>Our Great works</h2>
        <div class="section-divider">
          <div class="left wow fadeInLeft" data-wow-duration="1s" data-wow-delay="0.2s"></div>
          <span></span>
          <div class="right wow fadeInRight" data-wow-duration="1s" data-wow-delay="0.2s"></div>
        </div>
        <p>Lorem ipsum dolor sit amet, in quodsi vulputate pro. Ius illum vocent mediocritatem </p>
    </div>
    <div class="portfolio-filter text-center">
      <ul>
        {% if portfolio_obj %}
        {% for portfolio in portfolio_obj %}
        <li class="{{portfolio.portfolio_class}}"><a href="#" data-filter="{{portfolio.portfolio_data_filter}}">{{portfolio.portfolio_title}}</a></li>
        {% endfor %}
        {% endif %}
      </ul>
    </div><!-- .portfolio-filter-area -->
    <div class="portfolio zoom-gallery gutter-less">
      <div class="grid-sizer"></div>
      {% if portfolio_obj %}
      {% for portfolio in portfolio_obj %}
      <div class="portfolio-item item-3">
        <a href="/media/{{portfolio.portfolio_image}}" class="item-inner">
          <img src="/media/{{portfolio.portfolio_image2}}" alt="">
          <div class="hover-text">
            <i class="icofont icofont-drag1"></i>
          </div>
          <div class="gradient"></div>
        </a>
      </div><!-- .portfolio-item -->
      {% endfor %}
      {% endif %}
    </div><!-- .portfolio -->
  </section>
  <!-- End Project Section -->

  <!-- Start Team Section -->
  <section class="team section" id="team">
    <div class="container">
      <div class="section-head text-center">
        <h2>Cleaver Team Members</h2>
        <div class="section-divider">
          <div class="left wow fadeInLeft" data-wow-duration="1s" data-wow-delay="0.2s"></div>
          <span></span>
          <div class="right wow fadeInRight" data-wow-duration="1s" data-wow-delay="0.2s"></div>
        </div>
        <p>Lorem ipsum dolor sit amet, in quodsi vulputate pro. Ius illum vocent mediocritatem </p>
      </div>
    </div>
    <div class="member-carousel owl-carousel ex">
      {% if all_member_obj %}
      {% for member in all_member_obj %}
      <div class="member">
        <div class="member-overlay"></div>
        <div class="member-gradient"></div>
        <div class="member-img">
          <img src="/media/{{member.profile_pic}}" alt="">
        </div><!-- .member-img -->
        <div class="member-hover">
          <div class="member-meta">
            <h3>{{member.name}}</h3>
            <p>{{member.designation}}</p>
          </div>
        </div>
      </div><!-- .member -->
      {% endfor %}
      {% endif %}
      </div><!-- .member -->
    </div>
  </section>
  <!-- End Team Section -->

	<!-- Start Bload Donoer -->
  <section class="bload-donoer section" id="bload">
    <div class="container">
      <div class="section-head text-center">
        <h2>Bload Donoer</h2>
        <div class="section-divider">
          <div class="left wow fadeInLeft" data-wow-duration="1s" data-wow-delay="0.2s"></div>
          <span></span>
          <div class="right wow fadeInRight" data-wow-duration="1s" data-wow-delay="0.2s"></div>
        </div>
        <p>Lorem ipsum dolor sit amet, in quodsi vulputate pro. Ius illum vocent mediocritatem</p>
      </div>
			<form method="POST">
				{% csrf_token %}
				<div class="row">
					<div class="col-lg-4">
	          <div class="tm-form-field">
	            {{forms.dononer_name}}
	            <span class="bar"></span>
	            <label>Name</label>
	          </div>
	          <div class="tm-form-field">
		            {{forms.donoer_contact}}
		            <span class="bar"></span>
		            <label>Contact Number</label>
	        	</div>
						<div class="tm-form-field">
								{{forms.bolood_type}}
						</div>
	        </div>
					<div class="col-lg-4">
	          <div class="tm-form-field">
	            {{forms.dononer_desctric}}
	            <span class="bar"></span>
	            <label>District</label>
	          </div>
	          <div class="tm-form-field">
	              {{forms.dononer_uplozilla}}
	              <span class="bar"></span>
	              <label>Uplozilla</label>
	          </div>
	          <div class="tm-form-field">
		            {{forms.dononer_village}}
		            <span class="bar"></span>
		            <label>Village</label>
	        	</div>
	        </div>
					<div class="col-lg-4">
            <div class="tm-form-field">
              {{forms.dononer_age}}
              <span class="bar"></span>
              <label>Donoet Age</label>
            </div>
						<div class="tm-form-field">
							{{forms.dononer_address}}
							<span class="bar"></span>
							<label>Address</label>
						</div>
					</div>
          <button class="cont-submit btn-contact submit-btn tm-btn text-center" type="submit">
              <span>Donoet Now</span>
              <i class="sp-btn"></i>
            </button>
	      </div>
			</form>

    </div>
  </section>
  <!-- End Bload Donoer -->

  <!-- Start News Section -->
  <section class="home-blog section" id="blog">
    <div class="container">
      <div class="section-head text-center">
          <h2>Our Latest News</h2>
          <div class="section-divider">
            <div class="left wow fadeInLeft" data-wow-duration="1s" data-wow-delay="0.2s"></div>
            <span></span>
            <div class="right wow fadeInRight" data-wow-duration="1s" data-wow-delay="0.2s"></div>
          </div>
          <p>Lorem ipsum dolor sit amet, in quodsi vulputate pro. Ius illum vocent mediocritatem</p>
      </div>
      <div class="row flex">
        {% if blogPost_obj %}
        {% for blog in blogPost_obj %}
        <div class="col-lg-4">
          <div class="home-single-blog">
            <div class="home-blog-thumb">
              <a href=""><img src="/media/{{ blog.image }}" alt="blog-01"></a>
            </div>
            <div class="home-entry-content">
              <div class="height-70"></div>
              <h3><a href="">{{ blog.title }}</a></h3>
              <div class="home-blog-meta">
                <span><a href=""><i class="fa fa-user"></i>{{ blog.author }}</a></span>
                <span class="date"><i class="fa fa-calendar"></i>{{ blog.update_at }}</span>
                <span><i class="fa fa-tag"></i>{{ blog.category }}</span>
              </div>
              <p>{{ blog.description|truncatewords:22 }}</p>
              <a href="#" class="tm-btn tm-btn-black"><span>Read More</span></a>
            </div>
          </div>
        </div><!-- .col -->
        {% endfor %}
        {% endif %}
      </div>
    </div>
  </section>
  <!-- End News Section -->

  <!-- Start Testimonial Section -->
  <div class="testimonial-wrap section overlay-with-img">
    <img src="{% static 'assets/img/testimonial-bg.jpg' %}" alt="" class="bg-img">
    <div class="overlay"></div>
    <div class="container">
      <div class="testimonial-outer">
        <div class="testimonial-1 owl-carousel">

          {% if testimonail_obj %}
          {% for testimonial in testimonail_obj %}
          <div class="single-testimonial">
            <img src="/media/{{ testimonial.testimonial_user_pic }}" alt="" class="client-img">
            <blockquote>
              <i class="icofont icofont-quote-left"></i>
              {{ testimonial.description|truncatewords:20 }}
              <small>{{ testimonial.name }} <span>{{ testimonial.designation }}</span></small>
            </blockquote>
          </div><!-- .single-testimonial -->
          {% endfor %}
          {% endif %}
        </div>
      </div><!-- .testimonial-outer -->
    </div>
  </div>
  <!-- End Testimonial Section -->

  <!-- Start Contact Form -->
  <section class="contact-wrap section" id="contact">
    <div class="container">
      <div class="section-head text-center">
          <h2>Contact Us</h2>
          <div class="section-divider">
            <div class="left wow fadeInLeft" data-wow-duration="1s" data-wow-delay="0.2s"></div>
            <span></span>
            <div class="right wow fadeInRight" data-wow-duration="1s" data-wow-delay="0.2s"></div>
          </div>
          <p>Lorem ipsum dolor sit amet, in quodsi vulputate pro. Ius illum vocent mediocritatem</p>
      </div>
      <div class="row">
        <div class="col-lg-4">
          <div class="contact-info">
            <h3 class="contact-head">CONTACT INFO</h3>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit sed do eiusmod incididunt ametfh consec tetur dolore magna aliqua. Ut enim ad minim veniam dolor sit amet magnaelit.</p>
          </div>
        </div><!-- .col -->
        <div class="col-lg-4">
          <div class="contact-info">
            <h3 class="contact-head">CORPORATE OFFICE</h3>
            <ul>
              <li><i class="icofont icofont-location-arrow"></i> 7503 Wakehurst St, Perrysburg, OH 43551</li>
              <li><i class="icofont icofont-phone"></i> +00 123-456-789</li>
              <li><i class="icofont icofont-email"></i> <a href="mailto:email@yourdomain.com">email@yourdomain.com</a></li>
            </ul>
          </div>
        </div><!-- .col -->
        <div class="col-lg-4">
          <div class="contact-info">
            <h3 class="contact-head">BRANCH OFFICE</h3>
            <ul>
              <li><i class="icofont icofont-location-arrow"></i> 7503 Wakehurst St, Perrysburg, OH 43551</li>
              <li><i class="icofont icofont-phone"></i> +00 123-456-789</li>
              <li><i class="icofont icofont-email"></i> <a href="mailto:email@yourdomain.com">email@yourdomain.com</a></li>
            </ul>
          </div>
        </div><!-- .col -->
      </div><!-- .row -->
      <div class="cf-msg"></div>
      <form action="assets/php/mail.php" class="row contact-form" method="post"  id="cf">
        <div class="col-lg-6">
          <div class="tm-form-field">
            <input type="text" id="name" name="name" required>
            <span class="bar"></span>
            <label>Full Name</label>
          </div>
          <div class="tm-form-field">
              <input type="text" id="email" name="email" required>
              <span class="bar"></span>
              <label>Email Address</label>
          </div>
          <div class="tm-form-field">
                <input type="text" id="subject" name="subject" required>
                <span class="bar"></span>
                <label>Subject</label>
            </div>
        </div><!-- .col -->
        <div class="col-lg-6">
            <div class="tm-form-field">
                <textarea cols="30" rows="10" id="msg" name="msg" required></textarea>
                <span class="bar"></span>
                <label>Your Message</label>
            </div>
            <button class="cont-submit btn-contact submit-btn tm-btn" type="submit" id="submit" name="submit">
              <span>Send Message</span>
              <i class="sp-btn"></i>
            </button>
        </div><!-- .col -->
      </form><!-- .row -->
    </div>
  </section>
  <!-- End Contact Form -->

  <!-- Start Map Section -->
  <div id="map"></div>
  <!-- End Map Section -->

  <!-- Start Client Logo -->
  <div class="client-logo-wrap section">
    <div class="container">
      <div class="section-head text-center">
        <h2>Our Brand</h2>
        <div class="section-divider">
          <div class="left wow fadeInLeft" data-wow-duration="1s" data-wow-delay="0.2s"></div>
          <span></span>
          <div class="right wow fadeInRight" data-wow-duration="1s" data-wow-delay="0.2s"></div>
        </div>
        <p>Lorem ipsum dolor sit amet, in quodsi vulputate pro. Ius illum vocent mediocritatem</p>
      </div>
      <div class="client-logoes">
        {% if brand_obj %}
        {% for brand in brand_obj %}
        <div class="client-logo">
          <img src="/media/{{brand.testimonial_logo}}" alt="">
        </div>
        {% endfor %}
        {% endif %}
      </div>
    </div>
  </div>
  <!-- End Client Logo -->

  <!-- Start Subscribe Section -->
  <section class="subscribe-wrap section gray-bg">
    <div class="container">
      <div class="subscribe">
        <form class="mailchimp subscribe-form" action="https://storerepublic.us12.list-manage.com/subscribe/post?u=d227d8d335060b093084903d0&amp;id=9ba078ceb0">
          <input type="email" name="subscribe" id="subscriber-email" placeholder="Enter your Email">
          <button type="submit" id="subscribe-button" class="tm-btn"><span>SUBSCRIBE</span></button>
          <!-- SUBSCRIPTION SUCCESSFUL OR ERROR MESSAGES -->
          <h5 class="subscription-success"> . </h5>
          <h5 class="subscription-error"> . </h5>
          <label class="subscription-label" for="subscriber-email"></label>
        </form>
        <div class="social-btn">
          <a href="#" class="wow bounce" data-wow-duration="1s" data-wow-delay="0.2s"><i class="fa fa-facebook-square"></i></a>
          <a href="#" class="wow bounce" data-wow-duration="1s" data-wow-delay="0.3s"><i class="fa fa-google-plus-square"></i></a>
          <a href="#" class="wow bounce" data-wow-duration="1s" data-wow-delay="0.4s"><i class="fa fa-twitter-square"></i></a>
          <a href="#" class="wow bounce" data-wow-duration="1s" data-wow-delay="0.5s"><i class="fa fa-linkedin-square"></i></a>
          <a href="#" class="wow bounce" data-wow-duration="1s" data-wow-delay="0.6s"><i class="fa fa-skype"></i></a>
        </div>
      </div>
    </div>
  </section>
  <!-- End Subscribe Section -->
{% endblock %}

<!-- Footer -->
{% block footer %}
<div class="top-footer">
  <div class="container">
    <div class="row">
      <div class="col-md-4">
        <div class="footer-widget">
          <div class="footer-about-widget">
            <a href="/">
              <img src="{% static 'assets/img/logo.png' %}" alt="">
            </a>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit sed do eiusmod incididunt ametfh consec tetur dolore magna aliqua. Ut enim ad minim veniam.</p>
          </div>
        </div><!-- .footer-widget -->
      </div><!-- .col -->
      <div class="col-md-4">
        <div class="footer-widget">
          <h2 class="footer-widget-title">Recent Posts</h2>
          <ul class="footer-recent-post-widget">
            {% if blogPost_obj %}
            {% for post in blogPost_obj %}
            <li>
              <h2><a href="">{{ post.title }}</a></h2>
              <span><i class="fa fa-calendar"></i> {{ post.update_at }}</span>
            </li>
            {% endfor %}
            {% endif %}
          </ul>
        </div><!-- .footer-widget -->
      </div><!-- .col -->
      <div class="col-md-4">
        <div class="footer-widget">
          <h2 class="footer-widget-title">Instragram</h2>
          <div class="instagram-widget">
            {% if instragram_obj %}
            {% for instragram in instragram_obj %}
            <a href="{{instragram.image_url}}"><img src="{{instragram.image_url}}" alt="{{instragram.name}}"></a>
            {% endfor %}
            {% endif %}
          </div>
        </div><!-- .footer-widget -->
      </div><!-- .col -->
    </div>
  </div>
</div>
{% endblock %}
