{% extends 'app/base_admin.html' %}
{% load static %}

{% block titel %} ARIS || Dashboard {% endblock %}
{% block body %}
<h2>Add Member</h2> <br/>

<form method="POST">
  {% csrf_token %}
  <div class="row">
    <div class="col-lg-6">
      <div class="col-md-12 col-sm-12 col-lg-12">
        <p>username</p>
        {{forms.username}}
      </div>
      <div class="col-md-12 col-sm-12 col-lg-12">
        <p>Email</p>
        {{forms.email}}
      </div>
      <div class="col-md-12 col-sm-12 col-lg-12">
        <p>Contact Number</p>
        {{forms.phn_number}}
      </div>
    </div>
    <div class="col-lg-6">
      <div class="col-md-12 col-sm-12 col-lg-12">
        <p>Role Name</p>
        {{forms.role_name}}
      </div>
      <div class="col-md-12 col-sm-12 col-lg-12">
        <p>Password</p>
        {{forms.password1}}
      </div>
      <div class="col-md-12 col-sm-12 col-lg-12">
        <p>Confirm Password</p>
        {{forms.password2}}
      </div>
    </div>
  </div>
  <button style="margin-left:15px;" class="btn btn-success" type="submit">Add Member</button>
</form>
<br/><br/><br/>
{% if messages %}
<div style="color:#5cb85c; text-align: right" class="messages">
    {% for message in messages %}
    <div{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}
</div>
    {% endfor %}
    {% endif %}
{% endblock %}
