{% extends 'app/base_admin.html' %}
{% load static %}

{% block titel %} ARIS || Dashboard {% endblock %}
{% block body %}
<h2>Total List of Members</h2> <br/>

<table class="table table-bordered">
    <thead>
        <tr>
            <th>Username</th>
            <th>Email</th>
            <th>Address</th>
            <th>Hand Type</th>
        </tr>
    </thead>
    <tbody>
      {% for member in members %}
        <tr>
            <th scope="row">{{member.user.username}}</th>
            <td>{{member.user.email}}</td>
            <td>{{member.user.address}}</td>
            <td>{% ifequal  member.hand_type 2 %}
                   Right hand              
                {% else %}
                   Left Hand 
                {% endifequal %}
            </td>
        {% endfor %}
    </tbody>
</table>
{% endblock %}
