{% extends 'app/base_admin.html' %}
{% load static %}

{% block titel %} Add New Item {% endblock %}

{% block body %}

  <div class="pg-tp">
    <i class="ion-cube"></i>
    <div class="pr-tp-inr">
      <h4><a href="{% url 'add_new_item' %}">Add New Product</a></h4>
      <span>You may added project/item form here</span>
    </div>
  </div>
  <!-- Page Top -->

  <div class="panel-content">
    <div class="widget pad50-65">
      <div class="widget-title2">
      <div class="rmv-ext">
        <div class="row">
          {% if show_item %}
          {% for item in show_item %}
          <div class="col-md-3 col-sm-6 col-lg-3">
            <div class="prd-bx">
              <img class="brd-rd5" src="/media/{{item.image}}" alt="" />
              <div class="prd-inf">
                <h4>  {{item.name}}  </h4>
                <span class="price">$ {{item.price}}</span>
                <div class="items_update">
                  {% if perms.user %}
                  <div class="row">
                    <div class="col-lg-6">
                      <h4><a href="{% url 'updateItem_views' item.id %}">Update</a></h4>
                    </div>
                    <div class="col-lg-6 text-right">
                      <h4><a href="{% url 'itemDelete_views' item.id %}">Delete</a></h4>
                    </div>
                  </div>
                  {% endif %}
                </div>
              </div>
            </div>
          </div>
          {% endfor %}
          {% endif %}
        </div>
      </div>
    </div>
  </div>
  <!-- Panel Content -->
{% endblock %}
