{% extends 'app/base_admin.html' %}
{% load static %}

{% block titel %} Profile || Aris {% endblock %}

{% block body %}

  <div class="panel-content">
    <div class="widget pad50-65">
      <div class="profile-wrp">
        <div class="row">
          <div class="col-md-4 col-sm-12 col-lg-4">
            <div class="profile-info-wrp">
              <div class="insta-wrp">
                <span>
                  <img class="brd-rd50" src="{% static 'images/resource/insta-dp.jpg' %}" alt="" />
                  <span class="sts online"></span>
                </span>
                <div class="insta-inf">
                  <h2>
                    <a href="#" title="">John Smith</a>
                    <i class="fa fa-pencil edit-btn"></i>
                  </h2>
                  <span class="desg">Product Manager
                    <a class="blue-clr" href="#" title="">@GraphicXspace</a>
                  </span>
                </div>
              </div>
              <div class="usr-gnrl-inf">
                <h5 class="prf-edit-tl">General Info</h5>
                <div class="grn-inf-lst">
                  <i class="fa fa-home"></i> Company Name:
                  <span class="green-clr">Mega Stack</span>
                </div>
                <div class="grn-inf-lst">
                  <i class="fa fa-graduation-cap"></i> Position:
                  <span>Product Manager</span>
                </div>
              </div>
              <div class="usr-cnt-inf">
                <h5 class="prf-edit-tl">Contact Information</h5>
                <ul class="usr-cnt-inf-lst">
                  <li>
                    <i class="fa fa-home"></i>
                    <strong>Address:</strong>
                    <p>121 King Street, Melbourne Victoria 3000 Australia</p>
                  </li>
                  <li>
                    <i class="fa fa-phone"></i>
                    <strong>Phone:</strong>
                    <p>+461 25 6115 45</p>
                  </li>
                  <li>
                    <i class="fa fa-fax"></i>
                    <strong>Fax:</strong>
                    <p>1234 5678 90</p>
                  </li>
                  <li>
                    <i class="fa fa-envelope"></i>
                    <strong>Email ID:</strong>
                    <p>themextic@gmail.com</p>
                  </li>
                </ul>
              </div>
            </div>
          </div>
          <div class="col-md-8 col-sm-12 col-lg-8">
            <div class="usr-actvty-wrp widget pad50-40">
              <div class="act-pst-lst">
                <div class="act-pst">
                  <img class="brd-rd50" src="images/resource/acti-thmb1.jpg" alt="" />
                  <div class="act-pst-inf">
                    <div class="act-pst-inr">
                      <h5>
                        <a href="#" title="">Sadi Orlaf</a>
                      </h5> posted in
                      <a href="#" title="">Material</a>
                    </div>
                    <div class="act-pst-dta">
                      <p>That's awesome!</p>
                    </div>
                  </div>
                </div>
                <div class="act-pst">
                  <img class="brd-rd50" src="images/resource/acti-thmb2.jpg" alt="" />
                  <div class="act-pst-inf">
                    <div class="act-pst-inr">
                      <h5>
                        <a href="#" title="">Overtunk</a>
                      </h5> posted in
                      <a href="#" title="">New Blog</a>
                    </div>
                    <span class="spnd-tm">37 Min Ago</span>
                    <div class="act-pst-dta">
                      <p>That's awesome!</p>
                    </div>
                    <span class="pst-tm">
                      <a href="#" title="">
                        <i class="fa fa-trash-o"></i> Remove</a>
                    </span>
                    <div class="act-pst-lk-stm">
                      <a class="brd-rd5 green-bg-hover" href="#" title="">
                        <i class="ion-heart"></i> Love</a>
                      <a class="brd-rd5 blue-bg-hover" href="#" title="">
                        <i class="ion-thumbsup"></i> Like</a>
                    </div>
                  </div>
                </div>
                <div class="act-pst">
                  <img class="brd-rd50" src="images/resource/acti-thmb3.jpg" alt="" />
                  <div class="act-pst-inf">
                    <div class="act-pst-inr">
                      <h5>
                        <a href="#" title="">Kim Smith</a>
                      </h5> add
                      <a href="#" title="">1 photo</a>
                    </div>
                    <span class="spnd-tm">50 Min Ago</span>
                    <div class="act-pst-dta">
                      <img src="images/resource/act-pst-img1.jpg" alt="" />
                    </div>
                    <span class="pst-tm">
                      <a href="#" title="">
                        <i class="fa fa-trash-o"></i> Remove</a>
                    </span>
                    <div class="act-pst-lk-stm">
                      <a class="brd-rd5 green-bg-hover" href="#" title="">
                        <i class="ion-heart"></i> Love</a>
                      <a class="brd-rd5 blue-bg-hover" href="#" title="">
                        <i class="ion-thumbsup"></i> Like</a>
                    </div>
                  </div>
                </div>
                <div class="act-pst">
                  <img class="brd-rd50" src="images/resource/acti-thmb4.jpg" alt="" />
                  <div class="act-pst-inf">
                    <div class="act-pst-inr">
                      <h5>
                        <a href="#" title="">Chris Johnathan</a>
                      </h5> started following
                      <h6>
                        <a href="#" title="">Monica Smith</a>
                      </h6> site.</div>
                    <span class="spnd-tm">1 Hour Ago</span>
                    <div class="act-pst-dta">
                    </div>
                    <span class="pst-tm">
                      <a href="#" title="">
                        <i class="fa fa-trash-o"></i> Remove</a>
                    </span>
                    <div class="act-pst-lk-stm">
                      <a class="brd-rd5 green-bg-hover" href="#" title="">
                        <i class="ion-heart"></i> Love</a>
                      <a class="brd-rd5 blue-bg-hover" href="#" title="">
                        <i class="ion-thumbsup"></i> Like</a>
                    </div>
                  </div>
                </div>
                <div class="act-pst">
                  <img class="brd-rd50" src="images/resource/acti-thmb2.jpg" alt="" />
                  <div class="act-pst-inf">
                    <div class="act-pst-inr">
                      <h5>
                        <a href="#" title="">Overtunk</a>
                      </h5> posted in
                      <a href="#" title="">New Blog</a>
                    </div>
                    <span class="spnd-tm">37 Min Ago</span>
                    <div class="act-pst-dta">
                      <p>That's awesome!</p>
                    </div>
                    <span class="pst-tm">
                      <a href="#" title="">
                        <i class="fa fa-trash-o"></i> Remove</a>
                    </span>
                    <div class="act-pst-lk-stm">
                      <a class="brd-rd5 green-bg-hover" href="#" title="">
                        <i class="ion-heart"></i> Love</a>
                      <a class="brd-rd5 blue-bg-hover" href="#" title="">
                        <i class="ion-thumbsup"></i> Like</a>
                    </div>
                  </div>
                </div>
                <div class="act-pst">
                  <img class="brd-rd50" src="images/resource/acti-thmb3.jpg" alt="" />
                  <div class="act-pst-inf">
                    <div class="act-pst-inr">
                      <h5>
                        <a href="#" title="">Kim Smith</a>
                      </h5> add
                      <a href="#" title="">2 photos</a>
                    </div>
                    <span class="spnd-tm">50 Min Ago</span>
                    <div class="act-pst-dta">
                      <img src="images/resource/act-pst-img1.jpg" alt="" />
                      <img src="images/resource/act-pst-img2.jpg" alt="" />
                    </div>
                    <span class="pst-tm">
                      <a href="#" title="">
                        <i class="fa fa-trash-o"></i> Remove</a>
                    </span>
                    <div class="act-pst-lk-stm">
                      <a class="brd-rd5 green-bg-hover" href="#" title="">
                        <i class="ion-heart"></i> Love</a>
                      <a class="brd-rd5 blue-bg-hover" href="#" title="">
                        <i class="ion-thumbsup"></i> Like</a>
                    </div>
                  </div>
                </div>
                <div class="act-pst">
                  <img class="brd-rd50" src="images/resource/acti-thmb4.jpg" alt="" />
                  <div class="act-pst-inf">
                    <div class="act-pst-inr">
                      <h5>
                        <a href="#" title="">Chris Johnathan</a>
                      </h5> started following
                      <h6>
                        <a href="#" title="">Monica Smith</a>
                      </h6> site.</div>
                    <span class="spnd-tm">1 Hour Ago</span>
                    <div class="act-pst-dta">
                    </div>
                    <span class="pst-tm">
                      <a href="#" title="">
                        <i class="fa fa-trash-o"></i> Remove</a>
                    </span>
                    <div class="act-pst-lk-stm">
                      <a class="brd-rd5 green-bg-hover" href="#" title="">
                        <i class="ion-heart"></i> Love</a>
                      <a class="brd-rd5 blue-bg-hover" href="#" title="">
                        <i class="ion-thumbsup"></i> Like</a>
                    </div>
                  </div>
                </div>
              </div>
              <!-- Activity Post List -->
              <div class="vw-mr-act">
                <a href="#" title="">View More Activity</a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
{% endblock %}
