{% extends 'app/base_admin.html' %}
{% load static %}

{% block titel %} Profile || Aris {% endblock %}

{% block body %}

  <div class="panel-content">
    <div class="widget pad50-65">
      <div class="profile-wrp">
        <div class="row">
          <div class="col-md-4 col-sm-12 col-lg-4">
            <div class="profile-info-wrp">
              <div class="insta-wrp">
                <span>
                  <img class="brd-rd50" src="/media/{{ profile_obj.profile_photo }}" alt="" />
                  <span class="sts online"></span>
                </span>
                <div class="insta-inf">
                  <h2>
                    username: {{ profile_obj.name }}
                  </h2>
                </div>
              </div>
              <div class="usr-gnrl-inf">
                <h5 class="prf-edit-tl">General Info</h5>
                <div class="grn-inf-lst">
                  <i class="fa fa-user"></i> Gender:
                  <span class="green-clr">{{ profile_obj.sex }}</span>
                </div>
                <div class="grn-inf-lst">
                  <i class="fa fa-graduation-cap"></i> User Type:
                  <span>{{ profile_obj.member_type }}</span>
                </div>
              </div>
              <div class="usr-cnt-inf">
                <h5 class="prf-edit-tl">Contact Information</h5>
                <ul class="usr-cnt-inf-lst">
                  <li>
                    <i class="fa fa-home"></i>
                    <strong>Address:</strong>
                    <p>{{ profile_obj.address }}</p>
                  </li>
                  <li>
                    <i class="fa fa-phone"></i>
                    <strong>Phone:</strong>
                    <p>0{{ profile_obj.contact_number }}</p>
                  </li>
                  <li>
                    <i class="fa fa-info"></i>
                    <strong>Bank Name:</strong>
                    <p>{{ profile_obj.bank_name }}</p>
                  </li>
                  <li>
                    <i class="fa fa-fax"></i>
                    <strong>Bank Account:</strong>
                    <p>{{ profile_obj.bank_count_no }}</p>
                  </li>
                  <li>
                    <i class="fa fa-envelope"></i>
                    <strong>Email ID:</strong>
                    <p>{{ profile_obj.email }}</p>
                  </li>
                </ul>
              </div>
            </div>
          </div>
          <div class="col-md-8 col-sm-12 col-lg-8">
            <div class="usr-actvty-wrp widget pad50-40">
              <div class="act-pst-lst">
                <div class="act-pst">
                  <ul class="usr-cnt-inf-lst">
                    <li>
                      <i class="fa fa-home"></i>
                      <strong>District:</strong>
                      <p>{{ profile_obj.district }}</p>
                    </li>
                    <li>
                      <i class="fa fa-home"></i>
                      <strong>Thana:</strong>
                      <p>{{ profile_obj.thana }}</p>
                    </li>
                    <li>
                      <i class="fa fa-home"></i>
                      <strong>Union:</strong>
                      <p>{{ profile_obj.union }}</p>
                    </li>
                    <li>
                      <i class="fa fa-home"></i>
                      <strong>Join:</strong>
                      <p>{{ profile_obj.create_at }}</p>
                    </li>
                    <li>
                      <i class="fa fa-home"></i>
                      <strong>update:</strong>
                      <p>{{ profile_obj.update_at }}</p>
                    </li>
                    <li>
                      <i class="fa fa-user"></i>
                      <strong>Referance Name</strong>
                      <p>{{ profile_obj.update_at }}</p>
                    </li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
{% endblock %}
